<form>
  <input type="hidden" name="id" value="service.formData.id"/>
  <div class="form-group">
    <label>User</label>
    <input class="form control form-control-lg" placeholder="User name"
           name="name" #cardName="ngModel" [(ngModel)]="service.formData.name">
  </div>

  <div class="form-group">
    <label>Active</label>
    <input type="checkbox" [checked]="service.formData.active" class="form control form-control-lg" placeholder="True or False"
           name="active" #cardActive="ngModel" [(ngModel)]="service.formData.active">
  </div>
</form>


<h1>form work </h1>
